/* left side----------------------------------------- */
#click-area-wrapper {
  width: 50%;
  float: left;
}

#total-display {
  display: flex;
  justify-content: center;
}

#total-display h1 {
  margin: 0;
}

#button-wrapper {
  display: flex;
  justify-content: center;
}

#button {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 5em;
  margin-top: 2em;
  background-color: #a387be;
  color: aliceblue;
  border: 2px solid aliceblue;
  font-size: 2em;
}

html.page-embed #button {
  margin: 0;
}

#button:hover {
  background-color: #dcc2f4;
  animation-name: hoverAnim;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hoverAnim {
  from {
    scale: 1;
  }
  to {
    scale: 0.9;
  }
}

@keyframes clickAnim {
  from{ 
    scale: 0.9;
  }
  to {
    scale: 1;
  }
}

@keyframes clickAdditionAnim {
  from {
    opacity: 1;
  }

  to {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

/* right side----------------------------------------- */
#menu-area-wrapper {
  width: 50%;
  float: right;
}

#menu-area-wrapper button {
  width: 100%;
  padding: 20px;
  margin: 0.2em;
  border-radius: 50px;
  border: 2px solid aliceblue;
  background-color: #a387be;
  color: aliceblue;
  font-size: 2em;
  font-family: "Nedar", ui-serif, Georgia, "Times New Roman", serif;
}

#menu-area-wrapper button:hover {
  background-color: #dcc2f4;
}

/* mobile ------------------------------------------------------------------------------------------ */
@media (max-width: 1024px) {
  #click-area-wrapper {
    float: top;
    width: 100%;
  }
  #button {
    margin: 0;
  }
  #menu-area-wrapper {
    float: bottom;
    width: 100%;
  }
  
}