#board-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10vw;
}

#simulation-controls-wrapper {
    position: relative;
    left: 10vw;
    display: inline;
}

#generation-display {
    display: flex;
    float: right;
    margin-right: 100px;
}

#trigger-shop-btn {
    display: flex;
    float: right;
    margin-right: 100px;
}

.row-wrapper {
    flex-direction: row;
    display: flex;
}

.cell {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    text-align: right;
}

.alive {
    background-color: black;
}

.dead {
    background-color: white;
}

#shop-tiles-wrapper {
  position: fixed;
  top: 50vh;
  left: 50vw;
  overflow: visible;
}
.shop-tile {
  background-color: #654321;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  position: absolute;
  cursor: grab;
  touch-action: none;
}

.shop-tile--dragging {
  z-index: 10000;
}

.shop-tile--returning {
  transition: left 0.75s ease-out, top 0.75s ease-out;
}
