#board-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20vw;
    top: 5vh;
}

#simulation-controls-wrapper {
    position: relative;
    left: 10vw;
    display: inline;
}

#current-stage-display {
    position: relative;
    left: 10vw;
    display: inline;
    font-size: 2em;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

#trigger-shop-btn {
    display: flex;
    float: right;
    margin-right: 100px;
}

.row-wrapper {
    flex-direction: row;
    display: flex;
}

.cell {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    text-align: right;
    background-color: white;
}

#shop-tiles-wrapper {
  position: fixed;
  top: 50vh;
  left: 50vw;
  overflow: visible;
}
.shop-tile {
  padding: 10px;
  margin: 5px;
  display: inline-block;
  position: absolute;
  cursor: grab;
  touch-action: none;
  height: 3em;
  width: 3em;
}

.shop-tile--dragging {
  z-index: 10000;
}

.shop-tile--returning {
  transition: left 0.75s ease-out, top 0.75s ease-out;
}
